<% event_count = params[:admin_count].blank? ? 0 : params[:admin_count].to_i %>
<%  @results_events.each do |import_event|  %>
	<% if  import_event.created_at ==  import_event.updated_at%>
		<ul class="a">
			<li>	
			<lable style="margin-left:30px;font-size: 15px;font-weight:bold;"><%= import_event.title %>.......added.</lable>
			</li>
		</ul>
	<% else %>
	<ul class="a">
			<li>	
			<lable style="margin-left:30px;font-size: 15px;font-weight:bold;"><%= import_event.title %>.......updated.</lable>
			</li>
		</ul>
	<% end %>
	<div id="fetch-event-attendee">
<% end %>