
<div id="import_event"  style="background: none repeat scroll 0px 0px lightgray;">
	<div id="fetch-admin-event">
	</div>
</div>

<div id="done-admin-event"></div>

<style>
.a{
list-style-type: none;
}

</style>
