<div id="import_member">

	<table class="table table-bordered">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
     
     
    </tr>
  </thead>
<tbody>
<% @user_exist.each_with_index do |import_member, index|  %>

<tr>
  <td><%= index+1 %></td>
  <td> <%= import_member  %>....added</td>
</tr>
<% end %>
</tbody>
</table>
</div>