
<div id="import_member" style="background: none repeat scroll 0px 0px lightgray;margin-left: 22px;width: 550px;overflow-y: auto; max-height: 300px;"> 
	<%if params[:city_id]=="http://www.meetup.com/TechMeetups-Berlin" %>
		<h4 style="margin-left: 20px; font-weight: bold;padding-top: 25px;">Berlin:  Berlin Group</h4>
	<% elsif params[:city_id]=="http://www.meetup.com/london-silicon-roundabout/" %>
		<h4 style="margin-left: 10px; font-weight: bold;padding-top: 25px;">London:  London Silicon Roundabout Group</h4>
	<% else %>
		<h4 style="margin-left: 10px; font-weight: bold;padding-top: 25px;">New York:  New York Silicon Alley Group</h4>
	<% end %>
	<br />

	<div id="fetch-admin-member">

	</div>
</div>
<div id="done-admin-member"></div>
<style>
.a{
list-style-type: none;
}
</style>
