<div id="import_event">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>No</th>
      <th>Title</th>
     
    </tr>
  </thead>
<tbody>
<%  @results_events.each_with_index do |import_event, index|  %>
<tr>
  <td><%= index+1 %></td>
  <td> <%= import_event  %>..............added.</td>
  
</tr>
<% end %>
</tbody>
</table>