<div class='progress progress-striped active'>
  <div class='progress-bar' style='width: 0%'></div>
</div>
<script>
var ajax_call = function() { 
	var bar_width = $(".progress-bar").width();

	$(".progress-bar").css("width", bar_width+6)
 };

var interval = 1000 * 2; // where X is your every X minutes 
setInterval(ajax_call, interval);

</script>