<% if !@events.blank? %>
	<% @events.each do |event| %>
	  <div class="col-sm-6 col-md-6">
	    <div class="thumbnail">
	      <h3><%= event.title %></h3>
	      <img data-src="holder.js/300x200" alt="...">
	      <div class="caption">
	        
	        <p><%= event.description %></p>
	        <p><a href="#" class="btn btn-info" role="button">Button</a> </p>
	      </div>
	    </div>
	  </div>
	<% end %>
<% end %>
