<table class="table">
  <tr>
    <% @attendee.each_with_index do |attendee, index| %>
      <% if index+1 == 5 %> </tr><tr> <% end %>
      <td style="text-align:center">
        <% if !User.where(:id => attendee.user_id ).blank?  %>  
        <% @user = User.where(:id => attendee.user_id ).first %>
          <%=  link_to(image_tag(@user.avatar.url(:thumb), :style=>"width: 100px;height: 80px;"),user_profile_path(id: @user.id) ) %> <br/>
          <b><%= link_to @user.name, user_profile_path(id: @user.id) %></b>
        <%end%>
      </td>
    <% end %>
  </tr>
</table>  